<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Arkademy</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Daftar Produk</h1>
        <a href="/tambah" class="new-button">+ Tambahkan</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
        </div>
        <ul class="table-body">
          <% produk.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= item.nama_produk %></span>
                <span class="name-column"><%= item.keterangan %></span>
              </div>
              <div class="item-price">
                <span class="price-column">Rp. <%= item.harga %></span>
                <span class="amount-column">Stok = <%= item.jumlah %></span>
              </div>
              <div class="item-menu">
                <a href="/edit/<%= item.id %>">Edit</a>
                <form action="/delete/<%= item.id %>" method="post">
                  <input type="submit" value="Hapus">
                </form>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
  </body>
</html>